@model ProjectX.Models.VMLogin;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Авторизация</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
            margin: 0;
        }
        form {
            max-width: 300px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }
        h1 {
            text-align: center;
        }
        input[type="email"],
        input[type="password"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        label {
            display: block;
            margin-bottom: 10px;
        }
        button[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button[type="submit"]:hover {
            background-color: #0056b3;
        }
        .error-message {
            color: red;
        }
    </style>
</head>
<body>
    <form asp-controller="Access" asp-action="Login" method="post">
        <h1>Авторизация</h1>
        <input type="email" placeholder="Email" asp-for="Email"/>
        <input type="password" placeholder="Пароль" asp-for="PassWord"/>

        <label>
            <input type="checkbox" asp-for="KeepLoggedIn" />
            Запомнить меня
        </label>
        <button type="submit">Войти</button>

        @if(ViewData["ValidateMessage"] != null)
        {
            <br/>
            <br/>
            <label class="error-message">@ViewData["ValidateMessage"]</label>
        }
    </form>
</body>
</html>
